@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-size: clamp(1rem, 0.96rem + 0.18vw, 1.125rem);
    @apply text-gray-800 dark:text-[#f8f9fa] dark:bg-[#202124] bg-white container p-6 mx-auto;
  }

  header {
    @apply text-center pb-5 mb-4 border-b;
  }

  section {
    @apply pt-4;
  }

  nav {
    @apply flex gap-4 justify-center;
  }

  li {
    @apply list-disc ml-8 h-10;
  }

  h1 {
    @apply text-4xl font-bold mb-4;
  }

  h2 {
    @apply text-3xl mb-3 font-bold;
  }

  h3 {
    @apply text-xl mb-4;
  }

  a {
    @apply dark:text-[#9da2ff] underline;
  }

  a:hover,
  a:active {
    @apply underline dark:bg-[#303136];
  }

  article {
    @apply mb-4;
  }
}
